<div id="container">
  <div id="counterContainer">
    <div id="tacos" class="counter">
      <div class="val">0</div>
      <div class="units">tacos/second</div>
    </div>
    <div id="money" class="counter">
      <div class="val">$<span>0.00</span></div>
      <div class="units">revenue</div>
    </div>
  </div>
</div>