
body {
  background: url("/jbo-taco.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
  box-sizing: border-box;
}

#container {
  width: 100%;
  float: left;
  display: block;
  padding: 0 15%;
  padding-top: 180px;
}

.counter {
  width: 50%;
  float: left;
  display: inline-block;
  text-align: center;
}

.units, .val {
  width: 100%;
  display: block;
  text-align: center;
}

.val {
  font-size: 70px;
  color: white;
  font-weight: 500;
}

.units {
  font-size: 18px;
  margin-top: 20px;
  text-transform: uppercase;
  color: #F3F30E;
  font-family: Arial;
  font-weight: 500;
}

@media (max-width: 869px) {
  #container {
    padding-top: 50px;
  }

  .counter {
   width: 100%;
  }

  #tacos {
    padding-bottom: 80px;
  }
}

@media (max-width: 499px) {
  font-size: 60px;
}